<div class="col-md-3">
    <div class="settings-nav">
        <h4>SETTINGS</h4>
        <ul>
            <li>
                <a href="/userProfile">
                    <i class="bi bi-person"></i>
                    <span>Personal Info</span>
                </a>
            </li>
            <li>
                <a href="/userOrders">
                    <i class="bi bi-bag"></i>
                    <span>Orders</span>
                </a>
            </li>
            <li>
                <a href="/address">
                    <i class="bi bi-geo-alt"></i>
                    <span>Addresses</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-wallet"></i>
                    <span>Wallet</span>
                </a>
            </li>
        </ul>
    </div>
</div>